# DNS should be pointed here before starting
# HTTP/S traffic should be accepted from any IP
AUTHENTICATE_SERVICE_URL=URL of server here

AUTOCERT=true
AUTOCERT_CA="https://acme-v02.api.letsencrypt.org/directory"
AUTOCERT_EMAIL=email for letsencrypt notifications here
AUTOCERT_DIR="/data/le"


IDP_PROVIDER=azure
# Replace with the appropriate endpoint for your tenant
IDP_PROVIDER_URL="https://login.microsoftonline.com/replacemewithtenantid/v2.0"
IDP_CLIENT_ID=client id
IDP_CLIENT_SECRET=client secret

# take output of head -c32 /dev/urandom | base64 command
COOKIE_SECRET=cookie secret

SIGNING_KEY_FILE="/data/jwks/jwks.pem"
